.edit-profile-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: white;
    /* background-color: rgb(249, 187, 106); */
}

.edit-profile-box {
    background-color: #3a4352;
    /* max-width: 500px; */
    width: inherit;
    height: 80vh;
    padding: 20px; 
    border-radius: 9px;
    margin: 15px 15px 90px 15px;
    align-content: safe;
    align-self: center;
    align-items: center;
    /* display: flex;
    flex-direction: row; */
}
  
.edit-profile-container h2 {
    text-align: center;
    margin-bottom: 0px 0px 18px 0px;
    font-weight: 300;
    font-size: 1.7rem;
}

.editprofileform{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    /* align-content: safe;
    align-self: center; */
    align-items: center;
  }
  
.form-group label {
    display: flex;
    text-align: left;
    /* align-content: safe; */
    align-self: center; 
    align-items: flex-start;
    margin-bottom: 5px;
}
  
.form-group input {
    width: 87%;
    padding: 7px;
    border-radius: 5px;
    border: none;
}
  
.editprofilebutton {
    background-color: #fdd673;
    color: black;
    font-weight: bold; 
    border: none;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center; 
    align-self: center;
    padding: 10px 20px;
    width: 85%;
    margin-top: 10px;
}