body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh;
    min-width: vh; /* At least the full height of the viewport */
    /* At least the full height of the viewport */
    margin: 0; /* Removes the default margin */
  }  

  .profile-container {
    max-width: 400px;
    min-height: 100vh; /* Adjust if necessary */
    margin: auto; /* This will apply auto margins on all sides, helping with centering */
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures content inside .profile-container is centered */
    /* Add box-sizing property to include padding in width calculation */
    box-sizing: border-box;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture-container {
    width: 150px; /* Adjusted to match the design */
    height: 150px; /* Adjusted to match the design */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; /* Increased spacing */
    /* No need to change flex properties */
  }
  
  .profile-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .profile-name {
    color: gold;
  }
  
  .profile-details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: calc(100% - 40px); /* This accounts for padding */
    padding: 0 20px;
    /* Remove padding if you don't want it to affect inner spacing */
  }  
  
  .detail-box {
    background-color: #555; /* Gray background */
    padding: 20px; /* Padding inside the box */
    margin: 5px; /* Space between the detail boxes */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    flex: 1; /* Allows the box to grow to fill the space */
  }
  
  .detail-label, .detail-value {
    margin: 5px 0; /* Adds vertical margin */
  }
  
  
  .edit-button {
    padding: 15px 20px; /* Increase padding for a thicker button */
    background-color: white; /* Match the color in the screenshot */
    border: none; /* Remove any border */
    color: black; /* Set the text color to white */
    font-weight: bold; 
    width: 90%; /* Match the design width */
    margin: 0 auto 20px; /* Center button and add margin at the bottom */
    display: block; /* Make it a block to fill width */
  }
  
  .menu-divider {
    height: 2px; /* The thickness of the divider */
    width: 80%; /* Match the width to the screenshot */
    background-color: #555; /* Slightly lighter than the background for visibility */
    margin: 20px auto; /* Center it horizontally with margin */
  }

  .menu-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Full width */
    gap: 10px; /* Space between elements */
  }  
  
  .menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Adjusted to match the parent container's width */
    min-width: 250px; /* Ensures a minimum width for smaller content */
    padding: 15px 20px;
    background-color: #444;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    margin-bottom: 30px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  /* If the button is nested inside another element like Link, ensure styles are applied */
  .menu-button button {
    width: 100%; /* Forces the button to match the width of its parent */
    min-width: 250px; /* Ensures a minimum width for smaller content */
  }
  
  
  
  .menu-arrow {
    margin-left: auto; /* Pushes the arrow to the right */
  }
  

  @media (max-width: 896px) {
    .profile-container {
      max-width: 90%;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .profile-container {
      margin: 20px 10px;
      padding: 10px;
    }
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }


  