.profile-container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* background-color: #5e7ee9; */
    color: white;
}

.profile-box{
    background-color: #3a4352;
    max-width: 500px;
    width: inherit;
    height: 80vh;
    padding: 7px;
    padding-top: 35px; 
    border-radius: 9px;
    margin: 15px 15px 90px 15px;
    align-content: safe;
    align-self: center;
}

.profile-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 8px;
}

.profile-picture-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2px;
    align-self: center;
}

.profile-photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-self: center;
}

.profile-name {
    margin: 5px 0px 5px 0px;
    font-size: 1.8rem;
    color: #fdd673;
}

.profile-details {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 7px;
    width: max-content;
    padding: 0px;
}

.detail-box {
    background-color: #5a687f;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    width: 70px;
}

.detail-label{
    margin: 5px 0;
    font-size: 0.7rem;
}

.detail-value {
    margin: 0px 0px 5px 0px;
    font-size: 1.2rem;
}

.edit-button {
    background-color: white;
    color: black;
    font-weight: bold; 
    border: none;
    border-radius: 30px;
    /* display: flex; */
    justify-content: space-around;
    align-items: center; 
    align-self: center;
    padding: 10px 20px;
    width: 85%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu-container {
    justify-content: space-around;
    align-items: center; 
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* font-weight: 200; */
    gap: 8px; /* Space between "My Trainer" and "Logout" buttons */
}

.menu-button {
    background-color: #252b34;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 85%;
    padding: 12px 20px;
    box-sizing: border-box;
    text-decoration: none;
}

.menu-arrow {
  margin-left: auto;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
