/* Styles for the WorkoutSummary.js */

.client-home{
    height: 100%;
}

.summary{
    /* background-color: #b25252; */
    color: black;
    padding: 0px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.topspace{
    color: white;
    text-align: left;
    font-size: 3.0rem;
    margin-left: 10px;
    margin-bottom: 18px;
}


.flex-container-summary {
    /* background-color: #3e3e3e; */
    width: auto;
    height: inherit;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.smallDiv{
    background-color: #6d778f;
    color: white;
    margin: 2px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    width: 100%;
    height: inherit;
    align-items: center;
    border-radius: 20px;
}

#zeroes{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#labels{
    font-size: 0.8rem;
}

#row1{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#row2{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


/* Styles for the ProgressChart.js */
.chart{
    height: 500 px;
    width: auto;
    padding: 1px;
    margin: 0px 12px 15px 12px;
    display: flex;
    justify-content: center; 
    align-items:start;
}

#graph{
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
}


/* Styles for the UpcomingWorkout.js */

.upcomingWorkout{
    background-color: #333743;
    color: #f1f1f1;
    padding: 10px 15px 0px 15px;
    /* margin: 0px 12px 0px 12px; */
    height: 500 px;
    width: auto;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uw-heading{
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding-left: 15px;
    text-align: left;
}


.flex-upcoming-workout-container {
    display: flex;
    flex-direction: column;
    align-items:center; 
    border-radius: 5px;
    padding: 15px;
    margin: 0;
    height: 100px;
}

.flex-container-workout{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}

.column1 > img{
    flex-grow: 1; 
    margin: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
  
.column2 {
    color: f1f1f1;
    flex-grow: 8; 
    flex-direction: column;
    padding: 0px;
    margin-left: 5px;
    align-content:center;
}
  
.column2 > .row1 {
    font-size: 1.3rem;
    align-content: center;
    margin-bottom: 9px;
}

.column2 > .row2{
    font-size: 1rem;
    align-content: center;
}

.bottomspace{
    height: 40px;
}
